.qr{
    border: 10px solid #52545455;
    width: 256px;
    height: 256px;
}
.input-btn{
    margin-bottom: 50px;
    display: center;
    justify-content: center;
}
input{
    height: 30px;
    width: 175px;
    color: white;
    border-radius: 5px 0px 0px 5px;
}
.btn{
    background-color: #1a1a1a70;
    color: white;
    padding: 8px;
    border-radius: 0px 5px 5px 0px;
}
.btn:hover{
    background-color: rgba(0, 0, 0, 8);
}
input::placeholder {
  color: white;
  padding-left: 10px;
}
.screenshot-container{
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.screenshot-btn{
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 768px){

    *{
        background-color: white;
    }
    input{
        color: black;
    }
}